.button {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    text-align: center;
}

.button:hover {
    background-color: white;
    color: black;
    border-color: black;
    font-weight: 700;
}