*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  h1 {
    color: white;
    span {
      color: red;
    }
  }
  h2 {
    color: white;
  }
}