*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  h1 span{
    color: red;
  }
  overflow: hidden;
}

@media (max-width: 1015px){
  body {
    overflow-y: scroll;
  }
}